<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STEM Parties</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,900&effect=wallpaper" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="/css/cube.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>
    
    <!-- Navigation -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">STEM Parties</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Parties
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/bridgebuilding">Bridge Building</a>
                          <a class="dropdown-item" href="/cupcakedecorating">Cupcake Decorating</a>
                          <a class="dropdown-item" href="/eggdrop">Egg Drop</a>
                          <a class="dropdown-item" href="/novelengineering">Novel Engineering</a>
                      </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/request">Request a Party</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
        <!-- extras -->
        <div class="container text-center cube-text">
            <div class="row">
                <div class="col-6 font-effect-wallpaper">
                    <p class="text-primary">Celebrate</p>
                </div>
                <div class="col-6 font-effect-wallpaper">
                           <p class="text-success">Learn</p>   
                </div>
            </div>
        
        <div class="row">
            <div class="container">
                <div class="box">
          <!-- https://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068 -->
          <div id="anim-extra-one"></div>
            </div>
            </div>
        </div>
        
            <div class="row">
                <div class="col-6 font-effect-wallpaper">
                    <p class="text-danger">Plan</p>
                </div>
                <div class="col-6 font-effect-wallpaper">
                           <p class="text-warning">STEM Party!</p>   
                </div>
            </div>
            </div>
    
        <!-- Footer -->
    <footer class="py-5 footer-custom fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; STEMParties.com 2018</p>
      </div>
    </footer>
    
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->


    <!-- Custom scripts for this template -->
    <script src="/js/main.js"></script>
    

  </body>

</html>