<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STEM Parties</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,900&effect=wallpaper" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="/css/all-in-one.css" rel="stylesheet">


  </head>

  <body>
    
    <!-- Navigation -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">STEM Parties</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Parties
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/bridgebuilding">Bridge Building</a>
                          <a class="dropdown-item" href="/cupcakedecorating">Cupcake Decorating</a>
                          <a class="dropdown-item">Egg Drop</a>
                          <a class="dropdown-item">Novel Engineering</a>
                      </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/request">Request a Party</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  
    <section>
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8 font-effect-wallpaper stem-background">
          <img class="img-fluid rounded stem-img" src="/img/textimg.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4 text-center">
          <h1>Welcome to STEM Parties</h1>
          <p>STEM Parties helps plan and throw a STEM themed party for your kid. We offer many activites, games, food, drinks, party supplies and we can even make a custom birthday cake!</p>
          <a class="btn btn-primary btn-lg" href="#request">Get started!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">We'll create an unforgettable birthday for your kid! Enjoy hours of STEM related activites that everyone will enjoy.</p>
        </div>
      </div>
      </div>
      </section>
      
      <hr class="mt-5 mb-5">
      
    <section id="about">
        <div class="container-fluid text-center about-box div-wrap">
            <h1>What Is STEM Parties?</h1>
            <div>
                <p>We are a event planner for kids themed parties. We help you plan and host a party for your kid, be it birthday or any special event. 
                We prepare fun activities that revolve around S.T.E.M - Science, Technoloy, Engineering, and Math. We provide an enviroment 
                for your child to have fun learning outside of the classroom.</p>
            </div>
        </div>
        <div class="container-fluid text-center about-box">
            <h1>Who Are We?</h1>
            <p>STEM Parties is comprised of teachers. We teach kids everyday and have the skills to move learning outside of the classroom.</p>
        </div>
    </section>
      <!-- Content Row -->
    <section id="parties">
        <div class="container-fluid pt-5 pb-5 div-wrap">
            <div class="row">
                <div class="col-md-4 party-box">
                  <div class="card h-100">
                    <div class="card-body">
                      <h2 class="card-title">Egg Drop</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 party-box">
                  <div class="card h-100">
                    <div class="card-body">
                      <h2 class="card-title">Cupcake Decorating</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <!-- /.col-md-4 -->
                <div class="col-md-4 party-box">
                  <div class="card h-100">
                    <div class="card-body">
                      <h2 class="card-title">Bridge Building</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 party-box">
                  <div class="card h-100">
                    <div class="card-body">
                      <h2 class="card-title">Novel Engineering</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="request">
        <div class="container">
            <form role="form" class="mt-5">
                <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                <div class="form-group">
                	<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                	<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                	<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                </div>
                <div class="form-group">
                	<input type="text" class="form-control" id="date" name="date" placeholder="Party Date" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                </div>
                <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
            </form>
            </div>
        </div>
    </section>


      
          <!-- Footer -->
    <footer class="py-5 text-dark">
      <div class="container">
        <p class="m-0 text-center">Copyright &copy; STEMParties.com 2018</p>
      </div>
    </footer>
    
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->


    <!-- Custom scripts for this template -->
    <script src="/js/main.js"></script>
    

  </body>

</html>